html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --card-color: hsl(0, 0%, 8%);
}

body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  min-height: 100svh;
  display: grid;
  place-items: center;
  align-content: center;
  padding: 2em;
  
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 7vw + 1rem, 4rem);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #1f1f1f, #ffffffae);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 20;
  font-weight: bold;
  letter-spacing: -0.01562em;
}

p {
  font-size: clamp(1rem, 6vw + 1rem, 1.52rem);
  transition-delay: 200ms;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #929292, #ffffffae);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 20;
  letter-spacing: -0.01562em;
}

.hidden{
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  transform: translateX(0);
}

.logo:nth-child(2){
  transition-delay: 200ms;
}
.logo:nth-child(3){
  transition-delay: 400ms;
}
.logo:nth-child(4){
  transition-delay: 600ms;
}


.logo {
  width: clamp(70px, 5vw + 1em, 300px);
  /* transition: filter .2s ease-in-out; */
  cursor: pointer;
  
}

.logo:hover{
  scale: 1.1;
  -webkit-filter: drop-shadow(0 0 20px rgb(47, 130, 255));
          filter: drop-shadow(0 0 20px rgb(47, 130, 255));

}
.logo:nth-child(2):hover{
  -webkit-filter: drop-shadow(0 0 20px rgb(254, 118, 7));
          filter: drop-shadow(0 0 20px rgb(254, 118, 7));

}
.logo:nth-child(3):hover{
  -webkit-filter: drop-shadow(0 0 20px rgb(145, 145, 145));
          filter: drop-shadow(0 0 20px rgb(145, 145, 145));

}
.logo:nth-child(4):hover{
  -webkit-filter: drop-shadow(0 0 20px rgb(29, 149, 255));
          filter: drop-shadow(0 0 20px rgb(29, 149, 255));

}

.cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--card-color);
  padding: 2em 0;
  margin: 0 1em;
  border-radius: 1.1em;
}

@media (max-width: 768px){
  .cards{
    flex-direction: column;
  }
}

.card{
  background-color: hsla(0, 0%, 100%, 0.02);
  width: clamp(300px, 30vw, 500px);
  height: clamp(200px, 30vw, 400px);
  border-radius: 1.1em;
  position: relative;
}

.card::before,
.card::after,
.sm{
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;

}

.card:hover::before,
.cards:hover > .card::after {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.sl {
  background: radial-gradient(
    600px circle at 100px 100px, 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s ease-in-out;
}

.sm {
  opacity: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

h2 {
  color: rgba(255, 255, 255, 0.);
  text-align: center;
}

.welcome{
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(to bottom, #1f1f1f, #ffffffae);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 20;
  font-weight: bold;
  letter-spacing: -0.01562em; /* Approximate tight tracking */
}

.cards p {
  font-size: clamp(.5rem, 3vw + 1rem, 1rem);
  margin: 1em;
  color: rgba(255, 255, 255, 0.526);
}

.card:nth-child(1) {
  transition-delay: 0ms;
}
.card:nth-child(2) {
  transition-delay: 200ms;
}
.card:nth-child(3) {
  transition-delay: 400ms;
}
.card:nth-child(4) {
  transition-delay: 600ms;
}
.card:nth-child(5) {
  transition-delay: 800ms;
}
.card:nth-child(6) {
  transition-delay: 1000ms;
}

.container {
  position: relative;
  width: 100%;
}

.hero-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.hero-img {
  width: 100%;
  mask-image: radial-gradient(100em circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.799),
          transparent 10%);
  opacity: 0;
  transition: opacity 500ms;
}

.hero-img:hover {
  opacity: .7;
}